/build/
/gradle/
/out/
/gradlew
/gradlew.bat
/.idea/
/bin/
/src/main/main.iml
.gradle/*
/src/test/resources/beijing/
/src/test/resources/BL/
/src/test/resources/certs/
/src/test/resources/Country_R/
/src/test/resources/D/
/src/test/resources/Province/
